body {
    font-weight: 100;
    text-align: center;
}

.header p {
    font-size: 55px;
    background-color: #fdcb6e;
    color: #fff;
    margin: 25px 450px 40px;
    border-radius: 30px;
    background-image: linear-gradient(90deg, rgba(251, 255, 96, 1), rgba(255, 182, 104, 1));
    filter: drop-shadow(10px 10px 10px rgba(114, 114, 114, 0.6));
}

.jun-header {
    font-size: 25px;
}